<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Asia Wealth Securities Co.,Ltd - [Intranet]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"  />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="/Images/AWS/asiawealth.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="./style.css" rel="stylesheet" type="text/css" />

    <script src="/Scripts/jquery-1.9.1.js"></script>


    <script src="/Scripts/aws/intranet.js"></script>


</head>
<body>
    <center>
        <div id="main_block">
            <!--Top Block Starts -->
            <div id="company_block">
                <div><div id="logo" style="height:100px;">
                    <a href="/" ><img alt="Asia Wealth Securities Company Limited" height="70" src="/Images/awslogohd.png"
                            title="Asia Wealth Securities Company Limited" /></a></div>
                    <div class="top_menu">
                        <div class="menu_icon">
                             <a href="/Documents/AWS Phone List.pdf" target="_blank">
                            <img alt="Telephone" height="50" src="./icon/tel_icon.png" onmouseover="hover(this,this.alt);" onmouseout="unhover(this,this.alt);"
                            title="Telephone" /></a></div>
                        <div class="menu_icon">
                            <a href="/Home/DocumentList">
                            <img alt="Document" height="50" src="./icon/document_icon.png" onmouseover="hover(this,this.alt);" onmouseout="unhover(this,this.alt);"
                            title="Document" /></a></div>
                        <div class="menu_icon">
                             <a href="http://smartsales/marwealth/account/login" target="_blank">
                            <img alt="MarWealth" height="50" src="./icon/marwealth_icon.png" onmouseover="hover(this,this.alt);" onmouseout="unhover(this,this.alt);"
                            title="Marketing Wealth" /></a></div>
                         <div class="menu_icon">
                            <a href="http://custkm/REFERENCE/" target="_blank">
                            <img alt="SmartSystem" height="50" src="./icon/smartsys_icon.png"onmouseover="hover(this,this.alt);" onmouseout="unhover(this,this.alt);"
                            title="Smart System" /></a></div>
                        <div class="menu_icon">
                            <a href="/OrderMatch/OrderList">
                            <img alt="ContraBroker" height="50" src="./icon/contra_icon.png" onmouseover="hover(this,this.alt);" onmouseout="unhover(this,this.alt);"
                            title="Contra Broker" /></a></div>
                        <div class="menu_icon">
                            <a href="/PCLive" target="_blank">
                            <img alt="ResearchOnline" height="50" src="./icon/research_icon.png" onmouseover="hover(this,this.alt);" onmouseout="unhover(this,this.alt);"
                            title="Research Online" /></a></div>
                        <div class="menu_icon">
                             <a href="/Service/RedirectToService?serviceAuthenticationType=E_FINANCE&amp;serviceCode=E-Finance" target="_blank">
                            <img alt="EFinance" height="50" src="./icon/efinance_icon.png"onmouseover="hover(this,this.alt);" onmouseout="unhover(this,this.alt);"
                            title="E-Finance" /></a></div>
                        <div class="menu_icon">
                             <a href="/Service/RedirectToService?serviceAuthenticationType=ASPEN&amp;serviceCode=Aspen" target="_blank">
                            <img alt="Aspen" height="50" src="./icon/aspen_icon.png"onmouseover="hover(this,this.alt);" onmouseout="unhover(this,this.alt);"
                            title="Aspen" /></a></div>
                        <div class="menu_icon">
                            <a href="http://setsmart.domain.local:8080" target="_blank">
                            <img alt="SETSmart" height="50" src="./icon/set_icon.png"onmouseover="hover(this,this.alt);" onmouseout="unhover(this,this.alt);"
                            title="Set Smart" /></a></div>
                        <div class="menu_icon">
                            <a href="/" >
                            <img alt="Home" height="50" src="./icon/home_icon.png" onmouseover="hover(this,this.alt);" onmouseout="unhover(this,this.alt);"
                            title="Home" /></a></div>
                    </div>
                </div>
            </div>
            <div id="top_block">
                <div class="tp_img1">
                    <div class="tp_img2">
                        <a href="http://smartsales/"></a>
                    </div>
                </div>
            </div>
            <!--Top Block Ends -->
        </div>
        <div id="sub_block1">
            <!--Content Block Starts -->

<div id="content_block">
    <!--Left Block Starts -->
    <div id="left_block">
        <span class="blk1_lp">
                <iframe width="100%" scrolling="no" height="100%" frameborder="0" align="middle" src="http://smartsales/account/loginframe"></iframe>
        </span>
        <span>
                <iframe width="100%" scrolling="yes" height="450" frameborder="0" align="middle" src="http://www.asiawealth.co.th/th/news_activities_feed.php"></iframe>
        </span>
    </div>
    <!--Left Block Ends -->
    <!--Right Block Starts -->
    <div id="right_block">
        <span class="modul">
            <span class="inr_bllk">

                <span class="lnk_cl">
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" style="margin-top:6px;" />
                    <span class="cls2">
                        <a href="#">สาขาสีลม</a>
                        <br />
                        เลขที่ 191 อาคารสีลมคอมเพล็กซ์  (รถไฟฟ้า BTS ศาลาแดง ทางออก 4) ชั้น 21
                        ห้อง 2, 3-1 ถนนสีลม แขวงสีลม เขตบางรัก กรุงเทพมหานคร 10500
                        โทรศัพท์  :  0-2630-3500
                        โทรสาร    :  0-2630-3530-1
                    </span>
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" />
                    <span class="cls">
                        <a href="#">สาขาอโศก</a>
                        <br />
                        เลขที่ 159 อาคารเสริมมิตรทาวเวอร์ ชั้น 17 ห้อง 1703 ถนนสุขุมวิท 21 แขวงคลองเตยเหนือ
                        เขตวัฒนา กรุงเทพมหานคร 10110
                        โทรศัพท์  :  0-2261-1314-21
                        โทรสาร    :  0-2261-1328
                    </span>
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" />
                    <span class="cls">
                        <a href="#">สาขาปิ่นเกล้า</a>
                        <br />
                        เลขที่ 7/3 อาคารสำนักงานเซ็นทรัลปิ่นเกล้า ทาวเวอร์บี ชั้น 16 ห้อง 41605 - 41606
                        ถนนบรมราชชนนี แขวงอรุณอมรินทร์ เขตบางกอกน้อย กรุงเทพมหานคร 10700
                        โทรศัพท์  :  0-2884-7333
                        โทรสาร    :  0-2884-6091
                    </span>
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" />
                    <span class="cls">
                        <a href="#">สาขาแจ้งวัฒนะ 1</a>
                        <br />
                        เลขที่ 99/99 หมู่ 2 อาคารสำนักงานเซ็นทรัลแจ้งวัฒนะ ชั้น 22 ห้อง 2204 ถนนแจ้งวัฒนะ
                        ตำบลบางตลาด อำเภอปากเกร็ด นนทบุรี 11120
                        โทรศัพท์  :  0-2119-2300
                        โทรสาร    :  0-2835-3006
                    </span>
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" />
                    <span class="cls">
                        <a href="#">สาขาแจ้งวัฒนะ 2</a>
                        <br />
                        เลขที่ 99/99 หมู่ 2 อาคารสำนักงานเซ็นทรัลแจ้งวัฒนะ ชั้น 22 ห้อง 2203 ถนนแจ้งวัฒนะ
                        ตำบลบางตลาด อำเภอปากเกร็ด นนทบุรี 11120
                        โทรศัพท์  :  0-2119-2388
                        โทรสาร    :  0-2119-2399
                    </span>
                </span>
                <span class="lnk_cl">
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" style="margin-top:6px;" />
                    <span class="cls2">
                        <a href="#">สาขาเมกาบางนา</a>
                        <br />
                        เลขที่ 39 หมู่ 6 เมกาบางนา ชั้น 1 ห้องเลขที่ 1632/7 ถนนบางนา-ตราด
                        ตำบลบางแก้ว อำเภอบางพลี สมุทรปราการ 10540
                        โทรศัพท์  :  0-2106-7345
                        โทรสาร    :  0-2105-2070
                    </span>
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" />
                    <span class="cls">
                        <a href="#">สาขาศรีนครินทร์</a>
                        <br />
                        เลขที่ 59/5 ศูนย์การค้า HaHa ชั้น 4 ห้องเลขที่ B407-2 ถนนศรีนครินทร์ แขวงหนองบอน
                        เขตประเวศ กรุงเทพมหานคร 10250
                        โทรศัพท์  :  0-2014-2000
                        โทรสาร    :  0-2014-2001
                    </span>
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" />
                    <span class="cls">
                        <a href="#">สาขาฉะเชิงเทรา</a>
                        <br />
                        เลขที่ 233-233/2 หมู่ที่ 12 อาคารสำนักงานสรรพกิจธุรการ ชั้น 1 ถนนศุขประยูร
                        ตำบลหน้าเมือง อำเภอเมือง ฉะเชิงเทรา 24000
                        โทรศัพท์  :  038-981-587
                        โทรสาร    :  038-981-591
                    </span>
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" />
                    <span class="cls">
                        <a href="#">สาขาชลบุรี</a>
                        <br />
                        เลขที่ 55/22 หมู่ที่ 1 ตำบลเสม็ด อำเภอเมือง ชลบุรี 20000
                        โทรศัพท์  :  038-053-858
                        โทรสาร    :  038-784-090
                    </span>
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" />
                    <span class="cls">
                        <a href="#">สาขาระยอง</a>
                        <br />
                        เลขที่ 356/18 ถนนสุขุมวิท ตำบลเนินพระ อำเภอเมือง ระยอง 21000
                        โทรศัพท์  :  038-808-200
                        โทรสาร    :  038-807-200
                    </span>
                </span>
                <span class="txt">
                    <br />
                    <br />
                </span>
            </span>

        </span>
        <img src="/images/defaultpage/rp_ln.gif" alt="" class="rp_ln" />
        <span class="blks">
            <span class="special">
                <span class="our">Our Specializing</span>
                <span class="lnk">

                </span>
                <a href="http://smartsales.domain.local/">

                </a>
            </span>
            <span class="clnt">
                <span class="our">Our Clients</span>
                <span class="lnk_cl">
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" style="margin-top:6px;" />
                    <span class="cls2">
                        <a href="http://www.set.or.th">SET</a>
                        <br />
                        Stock Exchange of thailand
                    </span>
                    <img src="/images/defaultpage/blt.gif" alt="" width="5" height="7" />
                    <span class="cls">
                        <a href="http://www.asiawealth.co.th">Wealth</a>
                        <br />
                        Wealth management
                    </span>

                </span>
                <a href="http://smartsales.domain.local/">
                    <img src="/images/defaultpage/rd.gif" alt="" width="56" height="12" class="rdmr2" />
                </a>
            </span>
        </span>

    </div>
    <!--Right Block Ends -->
    <!--Content Block Ends -->
</div>

            <!--Content Block Ends -->
        </div>
        <div id="sub_block2">
            <div id="footer_block">
                <span class="ftr_nv">
                    <a href=""/">Home</a><span>|</span>
                    <a href="http://setsmart.domain.local:8080" target="_blank">SETSMART</a> <span>|</span>
                    <a href="/Service/RedirectToService?serviceAuthenticationType=E_FINANCE&amp;serviceCode=E-Finance" target="_blank">E-FINANCE </a><span>|</span>
                    <a href="/PCLive" target="_blank">Research Online </a><span>|</span>
                    <a href="/OrderMatch/OrderList">Contra Broker</a><span>|</span>
                    <a href="http://custkm/REFERENCE/" target="_blank">SMART System</a> <span>|</span>
                    <a href="/Home/DocumentList">Documents</a><span>|</span>
                    <a href="/Documents/AWS Phone List.pdf" target="_blank">Tel</a>
                </span>
                <div style="float:left; width:100%; height:14px;">
                    <div style="width:360px; margin-left:auto; margin-right:auto;">
                <span class="cpy">Copyright &copy;2018,Asia Wealth Securities Co.,Ltd. All rights reserved.</span></div>
                </div>
            </div>
        </div>
    </center>

</body>
</html>
