.button{
  display: block ;
  margin-left: auto;
  margin-right: auto;
  border = 1;
 background-image: url("./assets/minion.jpg");
  width: 150px;
  height: 150px;
  color: coral;
}

.square{
  display: inline-block;
 padding: 10px;

  margin-left: 50px;
  margin-right: 50px;
  border = 1;
  height: 250px;
  width: 250px;
  background-color: #555 ;

}

.square2{
  display: inline-block;
 padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border = 1;
  height: 350px;
  width: 350px;
  background-color: #555 ;

}
.textPreety {
  text-align: center;
  vertical-align: middle;
  color: white;

}
.fontg{
  font-family: fantasy !important;
}

.thead{
  position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;

  }


body{
  background-color: #bdc3c7;
}
body {
  background-color: #bdc3c7;
}

.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.table-fixed tbody {
  height: 200px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
  background-color: #f39c12;
  border-color: #e67e22;
}
